body{
    margin:0px;
    font-family: 'Titillium Web', sans-serif;
  }

  .ball{
    position:relative;
    z-index:-1;
    width: 100px;
    height: 100px;
    margin:auto;
    border-radius: 50%;   
    background: radial-gradient(circle at 65% 15%, white 1px, #680064 3%, #25003C 60%, #680064 100%);
    animation:move 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;}
  
  @keyframes move{
    from {
              transform: translate3d(0, 0, 0);
          }
    to {
              transform: translate3d(0, 80vh, 0);
          }
  
  }
  .card-l{
    height:50vh;
    width:60%;
    background-color:rgba(256,256,256,.2);
    border:3px solid white;
    border-radius:20px;
    margin-top:40px;
    margin:auto;
  
  }
  .title-l{
    font-size:50px;
    color:white;
    position:relative;
    text-align:center;
    margin-top:10px;
  }
  .subtitle-l{
    font-size:20px;
    color:white;
    position:relative;
    text-align:center;
  }
  .login-button{
    font-size:16px;
    background-image: linear-gradient(135deg, #25003C, #680064);
    color:white;
    position:relative;
    text-align:center;
    margin-top:10vh;
    padding:10px;
  }
  .login-button:active{
    background-image: black;
  }


  #modern{
    background-image: linear-gradient(135deg, #25003C, #680064); 
    color:grey;
  }
  #white{
    background-image: white; 
    color:black;
  }
  .logo{
    height:45px;
    width:45px;
  }
  .primary-navbar{
    background-color:rgba(0,0,0,.3);
    border-bottom:2px solid rgba(0,0,0,0);
    padding:10px;
  }
  .w-primary-navbar{
    background-color:white;
    border-bottom:2px solid black;
    padding:10px;
  }

  .cut-after-line-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .search-feild{
    background-color:rgba(256,256,256,.2);
    border:2px solid grey;
    border-radius:20px;
    height:40px;
    max-width:90vh;
    padding:10px;
    color:white;
    margin-top:10px;
  }
  
  
  
  
  /* switch code */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(135deg, #25003C, #680064);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-image: linear-gradient(135deg, black, black);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .btn-profile-pic{
    color:none;
  }
  .profile-pic{
    border-radius:50%;
    height:60px;
  }
  .mgn{
    margin-top:10px;
  }
  .secondary-navbar{
    height:30px;
    border-bottom:2px solid grey;
    
  }
  #card-style{
    background-color:rgba(256,256,256,0.2);
    border: 2px solid rgb(121, 121, 121);
  }
  .side-nav-bar{
    height:88vh;
    background-color:rgba(255,255,255,0.2);
    border-right: 2px solid rgb(121, 121, 121);
  }
  .side-buttons{
    font-size:16px;
    position:relative;
    text-align:center;
    padding:10px;
    border-bottom:2px solid rgb(129, 129, 129);
  }


  #player-section{
    margin-right:0px;
    margin-left:0px;
  }

  .v-list-col{
    background-color:rgba(256,256,256,0.2);
    margin:10px;
    border:2px solid rgb(113, 113, 113);
    border-radius:20px;
    width:-webkit-fill-available;
  }
  
  
  .v-l-card{
    height:100px;
    background-color:white;
    border: 2px solid black;
    border-radius:20px;

  }
  .v-l-card:hover{
    scale: .99;
    background-color:rgba(0, 0, 0, 0.344);


  }

  .v-l-image{
    height:92px;
    border-radius:20px;
    margin:4px;
  }

  /* media queries*/
  @media only screen and (max-width: 650px) {
    .w-primary-navbar .primary-navbar{
    height:100px;
    padding:20px 5px 0px 5px;
  }
    .secondary-navbar{
      display:none;
    }
    .search-feild{margin-top:0px;height:55px; display: none;}
    .mgn{
      margin-top:0px;
    }
    .switch{margin-top:8px;}
  
  }

  .tp{
    margin-top: 25px;
  }
  .overflow{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  .player-height{
      height: 600px;
  }
  @media only screen and (max-width: 950px){
    .player-height{
      height: 400px;
  }
  }
  @media only screen and (max-width: 625px){
    .player-height{
      height: 250px;
  }
  }